#intro
{
    color: dodgerblue;
    text-align: center;
    /* border-style: solid; */
    background-color: lightblue;
    /* border-color: black;
    border-width: medium; */
    /* margin: 30px;  */
    padding-bottom: 0px;
   
}

.topNav
{
    background-color: black;
    padding-left:1px;
}
.topNav li
{
    display: inline-block;
    font-size: 17px;
    padding:10px;
    
}
.topNav a
{
    text-align: left; 
    text-decoration: none;
    color: white;
    padding: 14px 0px 0px 0px;

    
}
.topNav a:hover
{
    background-color: grey;
    padding: 10px;
}